---
import Layout from '../layouts/Layout.astro';
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

export async function getStaticPaths(){
  const sbApi = useStoryblokApi()

  const {data} = await sbApi.get('cdn/stories', {
    version: "published"
  })

  const stories = Object.values(data.stories)

  console.log(data.stories)

  return stories.map((story: any) => {
    return {
      params: {
        slug: story.slug
      }
    }
  })
}

const sbApi = useStoryblokApi()
const {slug} = Astro.params
const { data } = await sbApi.get(`cdn/stories/${slug}`, {
  version: "published"
})

const story = data.story
---

<Layout title="Welcome to Astro.">
	<main>
    <StoryblokComponent blok={story.content} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
