---
import Layout from "../layouts/Layout.astro";
import { useStoryblokApi } from "@storyblok/astro";
import Hero from "../components/Hero.astro";
import RecentlyPublished from "../components/RecentlyPublished.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/links/");

const links = Object.entries(data.links).map((entry) => entry[1]);
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col gap-16 mb-8">
    <Hero />
    <RecentlyPublished links={links} />
  </div>
</Layout>
