<section class="text-white uppercase flex flex-col justify-center items-center">
  <h1 class="text-6xl font-bold">Software Engineer</h1>
  <div class="flex justify-between w-2/6 font-semibold">
    <p>Currently @WellDev.io</p>
    <p>(2022 - PRESENT)</p>
  </div>
</section>
