---
import LinkedInLogo from "./icons/linkedin.astro";
import GithubLogo from "./icons/github.astro";
---

<nav
  class="flex items-center justify-between sm:grid grid-cols-12 w-full uppercase text-white text-md py-8"
>
  <a
    href="/"
    class="flex items-center sm:col-start-1 sm:col-end-4 text-xl"
    >Adib Hasib</a
  >

  <ul class="flex items-center gap-4 sm:col-start-4 sm:col-end-8">
    <a
      href="#"
      class="transition ease-in-out border-b border-b-transparent hover:border-b-white"
      >About</a
    >
    <a
      href="#"
      class="transition ease-in-out border-b border-b-transparent hover:border-b-white"
      >Work</a
    >
  </ul>

  <ul
    class="hidden sm:flex items-center justify-end gap-2 col-start-9 col-end-13"
  >
    <li class="uppercase">Let's Connect</li>
    <div class="flex gap-4">
      <a href="https://www.linkedin.com/in/hasibul-huda/" target="_blank"
        ><LinkedInLogo /></a
      >
      <a href="https://github.com/Hasib-cirkut" target="_blank"
        ><GithubLogo /></a
      >
    </div>
  </ul>
</nav>
